/* styles.css */
:root {
    --primary-color: #121212;
    --secondary-color: #1e1e1e;
    --accent-color: #333333;
    --text-primary: #ffffff;
}

.change-mode {
    --primary-color: #fff;
    --secondary-color: #fffcf2;
    --accent-color: #edf2fb;
    --text-primary: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bx {
    cursor: pointer;
}

.hidden {
    display: none;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: var(--text-primary);
    outline: none;
}

button {
    width: 25%;
    padding: 10px;
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    color: var(--text-primary);
    cursor: pointer;
    transition: background-color 0.3s;
}

body.change-mode button {
    color: #fff;
}

button:hover {
    background-color: #3700b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: var(--accent-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

li button {
    background-color: #d32f2f;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: #b71c1c;
}